@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

:root {
    /* COLORS */
    --c-primary-black: #111111;
    --c-primary-white: #ffffff;
    --c-primary-purple: #5115F7;
    --c-primary-rose: #F0EBFE;
    --c-primary-grey: #232323;
    --c-primary-Lgrey: #E5E5E5;
    --c-fdnd-green: #66E5BF;
    --c-sun-yellow: #FFFF66;
    --c-rain-blue: #2885C7;
}

body{
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: auto;
} 

/* GRID */

    .grid-container {
        display: grid;
        grid-template-areas: 
        "header"
        "updays"
        "today"
        "today"
        "footer";
        grid-template-rows: 1fr;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }

    .header {
        grid-area: header;
        background-color: var(--c-primary-purple);
    }

    .updays {
        grid-area: updays;
        background-color: var(--c-primary-Lgrey)
    }

    .today {
        grid-area: today;
        background-color: var(--c-primary-white);
    }

    .footer {
        grid-area: footer;
        background-color: var(--c-primary-black);
    }

    .current {
        background-color: var(--c-primary-rose);
    }


/* BASICS */


    p {
        font-weight: 300;
    }

    h1 {
        font-weight: 400;
    }

    .header, .today {
        padding: 1em;
    }

    

/*  */
/* HEADER */
/*  */


    .header h1 {
        color: var(--c-primary-white);
    }


    .header p {
        color: var(--c-primary-white);
    }

    summary {
        color: var(--c-primary-white);
        text-decoration: underline;
        list-style: none;
    }


/*  */
/* UPDAYS */
/*  */


    .updays p {
        font-weight: 400
        ;
    }

/* TABLE */

    table {
        box-sizing: border-box;
        width: 80%;
        border-collapse: collapse;
        margin: 1.5em;
    }
    
    th, td {
        border: none;
        text-align: left;
        padding: 0.3em;
    }

    span {
        font-weight: bold;
    }
    
    .fa-sun {
        color: var(--c-sun-yellow);
    }

    td:nth-child(2) {
        color: var(--c-rain-blue)
    }

    tr:nth-child(2), tr:nth-child(4), tr:nth-child(6), tr:nth-child(8) {
        border-bottom: 1px solid var(--c-primary-rose);
    }

    
/* NEWSLETTER */

    .updays form {
        display: block;
        padding-inline: 1em;
    }

    .nletter{
        border: 1px solid var(--c-primary-black);
        box-sizing: border-box;
        width: 100%;
        padding: 1em;
        border-radius: 2em;
        background-color: var(--c-primary-Lgrey);
        text-align: center;
        margin-bottom: 1em;
    }

    .submit {
        background-color: var(--c-primary-black);
        color: var(--c-primary-white);
        box-sizing: border-box;
        width: 100%;
        padding: 1em;
        border-radius: 2em;
        margin-bottom: 1em;
    }


/*  */
/* TODAY */
/*  */


    .current {
        padding: 1em;
    }

    .temp {
        font-size: 5rem;
        font-weight: 400;
        margin: 0;
    }

    .temp-text {
        font-weight: 400;
    }


/* Activity */

    .activity {
        display:block;
        text-decoration: none;
        color: var(--c-primary-black);
        cursor: pointer;

        margin-bottom: 1em;
        border-bottom: 1px solid var(--c-primary-rose);
    }

    .activity-title {
        font-size: 1rem;
    }

    .activity p {
        margin-bottom: 1em;
        color: var(--c-primary-grey);
    }

    .img-container {
        height: 33vw;
    }
    
    .activity-img {
        display: block;
        object-fit: cover;
        width: 100%;
        height: 100%;
    }  


/* OVERLAY */


    .activity-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        align-items: center;
        justify-content: center;
        border: none;
        padding: 0;
    }

    .overlay-close{
        position: absolute;
        top: 1em; 
        right: 1em; 
        color: var(--c-primary-black);
        background-color: transparent; 
        font-size: 1.5rem;
        border: none; 
        cursor: pointer; 
    }

    .overlay-img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    .fa-chevron-left, .fa-chevron-right {
        position: absolute;
        top: 20%;
        font-size: 1rem; 
        color: var(--c-primary-black);
        cursor: pointer; 
        background-color: var(--c-primary-white);
        border-radius: 50%;
        padding: 0.5em 1em;
        margin: 1em;
      }
    
    .fa-chevron-left {
        left: 0.6em; 
        transform: translateY(-50%) translateX(-40%);
    }

    .fa-chevron-right {
        right: 0.6em; 
        transform: translateY(-50%) translateX(40%); 
    }

      .activity-overlay h4{
        font-size: 2rem;
        font-weight: 400;
        border: none;
        margin: 0.5em;
    }

    .overlay-do {
        background-color: var(--c-primary-rose);
        width: 40%;
        padding: 0.3em;
    }

    .overlay-temp {
        font-weight: 400;
    }

    .activity-overlay p {
        margin: 1em;
        border: none;
    }

    .overlay-button {
        background-color: var(--c-primary-black);
        color: var(--c-primary-white);
        border: none;
        border-radius: 2em;
        padding: 1em;
        margin: 1em;
    }

    dialog::backdrop {
        background-color: black;
        opacity:0.8;
    }


/*  */
/* FOOTER */
/*  */


    .footer{
        display: flex;
        flex-direction: row;
        align-items: center;
      justify-content: center;
      height: 50vh;
    }

    footer p {
        color: var(--c-primary-white);
    }

    .fdnd {
        color: var(--c-fdnd-green);
        font-weight: 700;
    }


/*  */
/* TABLET SIZE */
/*  */


@media all and (min-width: 50em) {
   
    .grid-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas: 
            "header today"
            "updays today"
            "footer footer";
    }


    .header {
        padding: 2.5em 3em 0 3em
    }
    
    .updays {
        padding: 5em 3em 0 3em
    }

    .today { 
        padding: 1em;
    }

    table {
        margin-bottom: 5em;
    }

    .activity {
        display: flex;
        gap:.5em;
        padding-bottom:1em;
    }

    .img-container {
        width:unset;
        height: 6em;
        aspect-ratio: 1/1;
    }

    .activity-img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }   

    .activity-title {
        margin:0;
    }

    .activity-title + p {
        margin:0;
    }

}


/*  */
/* DESKTOP SIZE */
/*  */


@media all and (min-width: 63em) {

    .grid-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas: 
            "header today"
            "updays today"
            "footer footer";
    }

    
    .header {
        padding: 2em 4em 0 10em;
    }

    .updays {
        padding: 2em 4em 0 10em;
    }
    .today {
        margin: 2em 5em 0 2em;
       
    }

    .header h1 {
        margin-top: 2em;
    }

    .today {
        padding-right: 5em;
    }

   .activity {
        display: flex;
        gap:.5em;
        padding-bottom:1em;
    }

   .img-container {
        width:unset;
        height: 6em;
        aspect-ratio: 1/1;
    }

    .activity-img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }  
   
    .activity-title {
        margin:0;
    }

    .activity-title + p {
        margin:0;
    }

    .text-container {
        padding: auto;
    }

    .updays {
        padding: 2em 4em 0 10em
    }

    table{
        margin-bottom: 4em;
    }

    .footer {
        height: 100vh;
    }

    .current {
        display: flex;
    }

   .temp-text{
    margin-bottom: 0;
   }

    .temp{
        margin: 0.2em;
    }

}

